
@font-face{
  font-family: 'Papyrus';
  src: url('./assets/Papyrus.ttf');
}

.App {
  text-align: center;
  font-family: Papyrus;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cromaiButton {
	background-color:#22A850;
	border-radius:28px;
	border:1px solid #18ab29;
  display:block;
  cursor:pointer;
  color:#ffffff;
  font-family: Papyrus;
	font-size:17px;
  padding:16px 31px;
  margin: 0 auto;
  max-width: 30%;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.cromaiButton:hover {
	background-color:#22a851;
}
.cromaiButton:active {
	position:relative;
	top:1px;
}

.catetos {
  display: inline-block;
  margin: 20px;
}

input {
  margin-left: 15px;
  padding: 5px;
  font-size: 16px;
  font-family: Papyrus;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(66,66,66,.75)
}
input:focus {
  outline:none;
}

button {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display: flex;
  cursor:pointer;
	color:#ffffff;
	font-family:Papyrus;
	font-size:15px;
  padding:10px 20px;
  margin-bottom: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
 }
   
form{
  display: flex;
  align-items: center;
  flex-direction: column;
 }

h2 {
   margin: 10px;
 }

h3 {
  margin: 10px;
}

h4 {
  margin: 5px;
}

footer{
  width: 100%;
  display: block;
  border-top:1px solid #000;
  position: fixed;
  bottom: 0;
  background-image: url('./assets/papyrus.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.android{
  vertical-align: middle;
  margin: 10px;
  max-height: 30px;
}

.informationDiv{
  margin-bottom: 120px;
}